name: Bump package version on push
on:
  push:
    branches:
    - main
    paths-ignore:
    - version.md
  workflow_dispatch:

jobs:
  bump-version:
    name: Bump package version
    if: "!contains(github.event.head_commit.message, 'Bump version')"
    runs-on: ubuntu-latest
    steps:
    - name: actions/checkout
      uses: actions/checkout@v4
      with:
          persist-credentials: false
    - name: current_version
      run: echo "current_version=$(grep '# version' version.md | cut -d ' ' -f3)" >> $GITHUB_ENV
    - name: FragileTech/bump-version
      uses: FragileTech/bump-version@main
      with:
        current_version: "${{ env.current_version }}"
        files: version.md
        commit_name: Datacoves Bot
        commit_email: support+snowcap@datacoves.com
        login: datacoves-sa
        token: "${{ secrets.BOT_TOKEN }}"
