name: Run Tests

on:
  push:
    branches: [ main ]
    paths-ignore:
    - version.md
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: useblacksmith/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Create a virtual environment
      run: |
        python -m venv .venv
    - name: Install dependencies
      run: |
        source ./.venv/bin/activate
        python -m pip install --upgrade pip
        make install-dev
    - name: Run checks (linter, code style, static type checks, tests)
      run: |
        source ./.venv/bin/activate
        ruff check snowcap/
        make typecheck
        python -m pytest --ignore=tests/integration --cov=snowcap --cov-report=xml
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
